
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: rgba(173, 227, 193, 0.703);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 30px;
    max-width: 600px;
    width: 100%;
}

h1 {
    color: rgb(239, 11, 11);
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: rgb(11, 6, 6);
    font-size: 18px;
}


main {
    max-width: 600px;
    width: 100%;
}

/* Barre de recherche */
.search-container {
    width: 100%;
    margin-bottom: 5px;
}

#searchBar {
    width: 100%;
    padding: 40px 20px;
    font-size: 20px;
    background-color: rgba(80, 210, 15, 0.36);
    border: 3px solid rgb(239, 11, 11);
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}



/* Liste des allergies */
#allergiesList {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: none;
    background: white;
}

#allergiesList li {
    padding: 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    text-align: center;
}

#allergiesList li:last-child {
    border-bottom: none;
}

#allergiesList li:hover {
    background: #d21818;
}

/* Résultat */
#result {
    margin-top: 30px;
    padding: 20px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 15px;
    display: none;
    line-height: 1.6;
    text-align: left;
}

#result strong {
    color: rgb(239, 11, 11);
    font-size: 18px;
}

#result br {
    margin-bottom: 10px;
}